ompiled source # 
################### 
*.suo
*.InstallLog
*.user
*.ReSharper.user
*.cache
*.xap

StyleCop.cache

# Directories #
TestResults
bin
obj
Bin
Binaries
pkgobj
pkg
*.log
_ReSharper*
*.cache
*.vspcc
*.vscc
*.vssscc
*ReSharper*

#Binaries files#
GSK.eDX.BusinessEntities.dll
GSK.eDX.BusinessEntities.pdb
GSK.eDX.ConfigurationManager.dll
GSK.eDX.ConfigurationManager.pdb
GSK.eDX.CustomClaimProvider.dll
GSK.eDX.CustomClaimProvider.pdb
GSK.eDX.Data.dll
GSK.eDX.Data.pdb
GSK.eDX.DataEntities.dll
GSK.eDX.DataEntities.pdb
GSK.eDX.EventRecievers.dll
GSK.eDX.EventRecievers.pdb
GSK.eDX.ExceptionHandler.dll
GSK.eDX.ExceptionHandler.pdb
GSK.eDX.Facade.dll
GSK.eDX.Facade.pdb
GSK.eDX.Interface.dll
GSK.eDX.Interface.pdb
GSK.eDX.NintexWorkflowActions.dll
GSK.eDX.NintexWorkflowActions.pdb
GSK.eDX.SystemTaskTimerJob.dll
GSK.eDX.SystemTaskTimerJob.pdb
GSK.eDX.ToDoTaskList.dll
GSK.eDX.ToDoTaskList.pdb
GSK.eDX.UI.WebParts.dll
GSK.eDX.UI.WebParts.pdb
GSK.eDX.Utility.dll
GSK.eDX.Utility.pdb
GSK.eDX.WCFServices.dll
GSK.eDX.WCFServices.pdb
GSK.eDX.pdb
GSK.eDX.dll
GSK.eDx.CustomListDefinitions.dll
GSK.eDx.CustomListDefinitions.pdb
GSK.eDx.InfoPathWorkflowCustomTaskform.dll
GSK.eDx.InfoPathWorkflowCustomTaskform.pdb
System.Web.dll
System.dll
GSK.eDX.WebControls.dll
GSK.eDX.WebControls.pdb
GSK.eDX.WorkflowActivities.dll
GSK.eDX.WorkflowActivities.pdb
